.App {
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Metrics, .Chart {
  background-color: #fff;
  padding: 10px
}